<section class="phx-hero">
  <h1>Welcome to ACME Smart AC device management console</h1>
  <p>Access and manage Smart AC sensor data and alerts.</p>
</section>

<section class="row session-new">
  <article class="column platform-status">
    <h2>Platform Status</h2>
    <ul>
      <li class="green">
        Management Services
      </li>
      <li class="green">
        API Services
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Log in</h2>

        <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f  -> %>

          <% login_field = Coherence.Config.login_field %>
          <div class="form-group">
            <%= required_label f, login_field, class: "control-label" %>
            <%= text_input f, login_field, class: "form-control", required: "" %>
            <%= error_tag f, login_field %>
          </div>

          <div class="form-group">
            <%= required_label f, dgettext("coherence", "Password"), class: "control-label" %>
            <%= password_input f, :password, class: "form-control", required: "" %>
            <%= error_tag f, :password %>
          </div>

          <%= if @remember do %>
            <div class="form-group">
              <input type="checkbox"  name="remember" id="remember">
              <label for="remember"><%= dgettext "coherence", "Remember Me?" %></label>
            </div>
            <br />
          <% end %>

          <div class="form-group">
            <%= submit dgettext("coherence", "Sign In"), class: "btn btn-primary button" %>
            <%= link dgettext("coherence", "Cancel"), to: Coherence.Config.logged_out_url("/"), class: "btn" %>
          </div>

          <div class="form-group">
            <%= coherence_links(@conn, :new_session) %>
          </div>

        <% end %>
  </article>
</section>
