<div class="row">
  <div class="column column-50 column-offset-25">
    <h3><%= dgettext "coherence", "Edit Account" %></h3>

    <%= render "form.html", changeset: @changeset,
                            label: dgettext("coherence", "Update"), required: [],
                            action: Routes.registration_path(SmartAcWeb.Endpoint, :update, @changeset.data.id )%>
  </div>
</div>
