<div class="row">
  <div class="column column-50 column-offset-25">
    <h3><%= dgettext "coherence", "Register Account" %></h3>

    <%= render "form.html", changeset: @changeset,
                            label: dgettext("coherence", "Register"), required: [required: ""],
                            action: Routes.registration_path(@conn, :create) %>
  </div>
</div>
