<div class="row">
  <div class="column">
    <h2><%= dgettext "coherence", "Your account" %></h2>
    <ul>
      <li>
        <strong><%= dgettext "coherence", "Name:" %></strong>
        <%= @user.name %>
      </li>
      <%= unless (login_field = Coherence.Config.login_field) == :email do %>
        <li>
          <strong><%= humanize login_field %></strong>
          <%= Map.get(@user, login_field) %>
        </li>
      <% end %>

      <li>
        <strong><%= dgettext "coherence", "Email:" %></strong>
        <%= @user.email %>
      </li>

    </ul>

    <%= link dgettext("coherence", "Edit"), to: Routes.registration_path(@conn, :edit), class: "button button-outline" %>
    <%= link dgettext("coherence", "Delete Account"),
            to: Routes.registration_path(@conn, :delete),
            method: :delete,
            data: [confirm: dgettext("coherence", "Permanantly delete this user?")],
            class: "button button-important" %>
  </div>
  <div class="column">
    <h2>Smart AC Admins</h2>
    <table class="admin-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th> &nbsp; </th>
        </tr>
      </thead>
      <tbody>
        <%= for admin <- Coherence.Schemas.list_user do %>
        <tr>
          <td><%= admin.name %></td>
          <td><%= admin.email %></td>
          <td>
            <%= if admin.active do %>
            <span>Enabled</span>
            <% else %>
            <span class="inactive">Disabled</span>
            <% end %>
          </td>
          <td>
            <a href="<%= Routes.registration_path(@conn, :show) %>/<%= admin.id %>/edit" class="button button-outline button-small" >Edit</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
