/* This file is for your main application css. */

@import "./phoenix.css";

@media screen and (min-width: 768px) {
  .container {
    max-width: 80rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 100rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 130rem;
  }
}
@media screen and (min-width: 2048px) {
  .container {
    max-width: 150rem;
  }
}

body {
  font-family: Montserrat;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.button {
  background-color: #4791e0;
  font-family: Montserrat;
  font-size: 1.0rem;
  font-weight: 600;
}
.button:hover {
  background-color: #325fa1;
  border-color: #18588d;
}
.button-important {
  background-color: #e497aa;
  border-color: #bd5252;
  text-shadow: 1px 1px 1px rgba(89, 47, 47, 0.7);
}
.button-important:hover {
  background-color: #c88092;
  border-color: #bd5252;
}
.button.button-outline:hover {
  background-color: rgba(0,0,255,0.2);
  background-color: #0069d911;
  color: #18588d;
  border-color: #18588d;
}
.button-small {
  font-size: 1rem;
  height: 2.9rem;
  line-height: 2.9rem;
  padding: 0 1.7rem;
}
.admin-table .button {
  margin: 0.2rem auto;
}
.admin-table .inactive {
  color: #bd5252;
}

header {
  margin: 0 0 1rem;
  font-family: Quicksand, Montserrat;
  font-weight: 400;
}
header a {
  margin: 0;
}
header .logo span {
  font-size: 1rem;
  vertical-align: top;
  line-height: 2rem;
  font-variant: all-small-caps;
  font-weight: 500;
}
header .logo h2 {
  margin: 0.5rem 0;
  font-variant: small-caps;
  display: inline;
  font-weight: 400;
}
.nav-bar {
  margin: 0 auto 6rem;
}
.nav-bar .button {
  font-family: Quicksand, Montserrat;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.nav-bar .right {
  float: right;
  margin: 0 0.15rem;
}

.platform-status ul, ul.health {
  list-style: none;
}
.platform-status ul li::before, ul.health li.red::before {
  background: #b72a4599;
}
.platform-status ul li::before, ul.health li::before, li.green::before {
  content: " ";
  background: #2ab74599;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #224777;
  display: inline-block;
  float: left;
  margin: 0.25rem 1rem 0 1rem;
  font: 500 1.3rem/2rem Montserrat;
  text-align: center;
}
ul.health {
  margin-bottom: 0;
}
.phx-hero {
  background: #d6dfec4d;
  margin: 5rem 0rem 6rem;
}
.session-new form {
  background: rgba(218, 218, 218, 0.2);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #e3e3e380;
}
.session-new form input {
  background: #fff;
}

strong {
  font-weight: 500;
}

.chart-view {
}

.data-range{
  text-align: right;
}
.data-range strong {
  margin: 0 4rem;
}
