<div class="row">
  <div class="column column-50 column-offset-25">
    <%= form_for @changeset, Routes.invitation_path(@conn, :create), [as: :invitation], fn f  -> %>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p><%= dgettext "coherence", "Oops, something went wrong! Please check the errors below." %></p>
        </div>
      <% end %>
      <div class="form-group">
        <%= required_label f, dgettext("coherence", "Name"), class: "control-label" %>
        <%= text_input f, :name, class: "form-control", required: "" %>
        <%= error_tag f, :name %>
      </div>

      <div class="form-group">
        <%= required_label f, dgettext("coherence", "Email"), class: "control-label" %>
        <%= text_input f, :email, class: "form-control", required: "" %>
        <%= error_tag f, :email %>
      </div>

      <div class="form-group">
        <%= submit dgettext("coherence", "Send Invitation"), class: "btn btn-primary button" %>
        <%= link dgettext("coherence", "Cancel"), to: Coherence.Config.logged_out_url("/"), class: "btn" %>
        <%= if invitation = @conn.assigns[:invitation] do %>
          <%= link dgettext("coherence", "Resend Invitation!"), to: Routes.invitation_path(@conn, :resend, invitation.id), class: "btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
