<br/>
</br/>
<div class="row">
  <div class="column ">
    <script>
      function incrementalSearch() {
        var search = document.getElementById("search");
        var searchString = search.value;
        var table = jQuery("#devicesTable");
        jQuery("tr", table).each(function(){
          var row = jQuery(this);
          var text = jQuery(row).text().toLowerCase();
          if (text.indexOf(searchString.toLowerCase()) == -1) {
        	jQuery(row).hide();
          } else {
        	jQuery(row).show();
          }
        });
      }
    </script>
    <input id=search placeholder="Search..." onkeyup="incrementalSearch();"/>
  </div>
</div>
<div class="row">
  <div class="column ">
    <h1>Registered Devices</h1>

    <table id="devicesTable">
      <thead>
        <tr>
          <th>Serial Number</th>
          <th>Health</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for device <- @devices do %>
        <tr>
          <td><%= device.serial_number %></td>
          <td><ul class="health">
            <%= if length(device.events) > 0 do %>
            <li class="<%= if length(device.events) > 0 && !String.equivalent?(hd(device.events).health, "normal"), do: "red" %>">
              <%= hd(device.events).health %>
            </li>
            <% end %>
          </ul></td>
          <td>
            <%= link "Show", to: Routes.device_path(@conn, :show, device) %>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
