<div class="row">
  <div class="column ">
    <span><%= link "Back", to: Routes.device_path(@conn, :index) %></span>
    </br/>
    </br/>

    <h2><%= @device.serial_number %></h2>
    <ul class="health">
      <li>
        <strong>Device Health:</strong>
        <%= if length(@device.events) > 0 do %>
        <%= hd(@device.events).health %>
        <% else %>
        "Unknown"
        <% end %>
      </li>
    </ul>
    </br/>
    </br/>
  </div>
  <div class="column data-range">
  <br />
  <br />
     <script>
       function updateData() {
         var dateRange = document.getElementById("date-range");
         window.location.href = "<%= Routes.device_path(@conn, :show, @device) %>" + "?range=" + dateRange.value;
       }
     </script>
     <strong>Show data for: </strong>
     <select id="date-range" onchange="updateData();">
      <option value="today" <%= if String.equivalent?(@range, "today"), do: "selected" %>>Today</option>
      <option value="week" <%= if String.equivalent?(@range, "week"), do: "selected" %>>This Week</option>
      <option value="month" <%= if String.equivalent?(@range, "month"), do: "selected" %>>This Month</option>
      <option value="year" <%= if String.equivalent?(@range, "year"), do: "selected" %>>This Year</option>
    </select>
  </div>
</div>
<div class="row chart-view">
  <div class="column column-50">
    <canvas id="tempChart" width="400" height="220"></canvas>
  </div>
  <div class="column column-50">
    <canvas id="humidityChart" width="400" height="220"></canvas>
  </div>
</div>
<div class="row chart-view">
  <div class="column column-50">
    <canvas id="coChart" width="400" height="220"></canvas>
  </div>
    <script>
    window.onload = function () {
      var dataLabels = [
       <%= raw Enum.reduce(@events, "", fn e, str -> str <> "\"" <> to_string(e.time.year) <>
                                                 "/" <> to_string(e.time.month) <>
                                                 "/" <> to_string(e.time.day) <>
                                                 " " <> to_string(e.time.hour) <>
                                                 ":" <> String.pad_leading(to_string(e.time.minute), 2, "0") <>
                                                 ":" <> String.pad_leading(to_string(e.time.second),2, "0") <>
                                                 "\"," end) %>
      ];
      var tempData = [
        <%= raw Enum.reduce(@events, "", fn e, str -> str <> "\"" <> to_string(e.sensor_temp) <> "\"," end) %>
      ];
      var tempChart = document.getElementById("tempChart");
      var tempChart = new Chart(tempChart, {
          type: 'line',
          data: {
              labels: dataLabels,
              datasets: [{
                  label: 'Temperature',
                  data: tempData,
                  backgroundColor: [
                      'rgba(55, 199, 132, 0.15)',
                  ],
                  borderColor: [
                      'rgba(55,199,132,1)',
                  ],
                  borderWidth: 1,
                  pointRadius: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });


      var humidityChart = document.getElementById("humidityChart");
      var humidityData = [
        <%= raw Enum.reduce(@events, "", fn e, str -> str <> "\"" <> to_string(e.sensor_humidity) <> "\"," end) %>
      ];
      var humidityChart = new Chart(humidityChart, {
          type: 'line',
          data: {
              labels: dataLabels,
              datasets: [{
                  label: 'Humidity',
                  data: humidityData,
                  backgroundColor: [
                      'rgba(55, 132, 199, 0.15)',
                  ],
                  borderColor: [
                      'rgba(55,162,249,1)',
                  ],
                  borderWidth: 1,
                  pointRadius: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });


      var coChart = document.getElementById("coChart");
      var coData = [
        <%= raw Enum.reduce(@events, "", fn e, str -> str <> "\"" <> to_string(e.sensor_co) <> "\"," end) %>
      ];
      var coChart = new Chart(coChart, {
          type: 'line',
          data: {
              labels: dataLabels,
              datasets: [{
                  label: 'Carbon Monoxide',
                  data: coData,
                  backgroundColor: [
                      'rgba(237, 179, 111, 0.25)',
                  ],
                  borderColor: [
                      'rgba(245, 162, 79, 1)',
                  ],
                  borderWidth: 1,
                  pointRadius: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    };
    </script>
  </div>
</div
