<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ACME Smart AC</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Quicksand:400,500" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= if Coherence.logged_in?(@conn) do %>
          <ul>
            <li><%= link "Log out", to: Routes.session_path(@conn, :delete) %></li>
          </ul>
          <% end %>
        </nav>
        <a href="/" class="logo" >
          <h2>ACME Smart AC</h2>
          <span>Console</span>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <%= if Coherence.logged_in?(@conn) do %>
      <div class="nav-bar">
        <a class="button button-outline" href="/invitations/new">Invite an admin</a>
        <%= link "Manage Users", to: Routes.registration_path(@conn, :show), class: "button" %>
        <a class="button" href="/devices">Devices</a>
      </div>
      <% end %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
